* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    min-width: 550px;
}

label {
    font-size: 20px;
    font-weight: bold;
}

input[type="text"] {
    padding: 7px 10px;
    border: 1px solid #00000050;
    margin: 0 10px;
    border-radius: 5px;
}

button {
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    padding: 5px 15px;
    border: 1px solid rgb(95, 158, 160);
    cursor: pointer;
    transition: all .3s;
}

button#get-action {
    font-size: 20px;
    font-weight: lighter;
}

button:hover {
    background-color: rgba(95, 158, 160, .1);
    transition: all .3s;
}

.action-add-wrapper {
    display: flex;
    margin: 10px 0;
    width: 100%;
}

.action-calculate-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-result {
    font-weight: bold;
    font-size: 22px;
    margin: 5px;
    color: cadetblue;
    border: 1px solid rgb(95, 158, 160);
    border-radius: 10px;
    padding: 2px 7px;
}

.action-result-hide {
    display: none;
}

.action-list {
    border: 1px solid rgb(95, 158, 160);
    border-radius: 10px;
    background: rgba(95, 158, 160, .05);
}

.action-item {
    padding: 9px 10px;
    transition: all .3s;
    cursor: default;
    white-space: nowrap;
}

.action-item:hover {
    background-color: #00000010;
    transition: all .3s;
}

.action-item-name-wrapper {
    margin-bottom: 5px;
}

.action-item-details-wrapper {

}

.action-badge {
    user-select: none;
    font-size: 12px;
    padding: 0 4px;
    border-radius: 10px;
    border: 1px solid rgb(95, 158, 160);
}

.action-item-name {
    font-size: 18px;
    font-weight: bold;
}

.action-item-shuffle-amount {
    margin-left: 10px
}

.action-item-delete {
    font-size: 14px;
    margin-left: 5px;
    border: 1px solid red;
    border-radius: 10px;
    padding: 0 5px;
    cursor: pointer;
    background: white;
    opacity: .3;
    transition: all .3s;
}

.action-item-delete:hover {
    background-color: #ffd1d1;
    opacity: 1;
    transition: all .3s;
}
